In [1]:
import pandas as pd
import numpy as np
from keras.models import Sequential
from keras.layers import Dense
from keras.preprocessing import sequence

2022-09-06 16:44:54.749704: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-09-06 16:44:54.749718: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.
/home/kalinemesquita/anaconda3/lib/python3.9/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
df = pd.read_csv('b_depressed.csv')

In [4]:
df.shape

(1429, 23)

In [5]:
df.head()

,Survey_id,Ville_id,sex,Age,Married,Number_children,education_level,total_members,gained_asset,durable_asset,...,incoming_salary,incoming_own_farm,incoming_business,incoming_no_business,incoming_agricultural,farm_expenses,labor_primary,lasting_investment,no_lasting_investmen,depressed
0,926,91,1,28,1,4,10,5,28912201,22861940,...,0,0,0,0,30028818,31363432,0,28411718,28292707.0,0
1,747,57,1,23,1,3,8,5,28912201,22861940,...,0,0,0,0,30028818,31363432,0,28411718,28292707.0,1
2,1190,115,1,22,1,3,9,5,28912201,22861940,...,0,0,0,0,30028818,31363432,0,28411718,28292707.0,0
3,1065,97,1,27,1,2,10,4,52667108,19698904,...,0,1,0,1,22288055,18751329,0,7781123,69219765.0,0
4,806,42,0,59,0,4,10,6,82606287,17352654,...,1,0,0,0,53384566,20731006,1,20100562,43419447.0,0

In [6]:
df.columns

Index(['Survey_id', 'Ville_id', 'sex', 'Age', 'Married', 'Number_children',
       'education_level', 'total_members', 'gained_asset', 'durable_asset',
       'save_asset', 'living_expenses', 'other_expenses', 'incoming_salary',
       'incoming_own_farm', 'incoming_business', 'incoming_no_business',
       'incoming_agricultural', 'farm_expenses', 'labor_primary',
       'lasting_investment', 'no_lasting_investmen', 'depressed'],
      dtype='object')

In [9]:
min(df['Age'])

17

In [10]:
max(df['Age'])

91

In [11]:
df.mean()

Survey_id                7.150000e+02
Ville_id                 7.628621e+01
sex                      9.181246e-01
Age                      3.477747e+01
Married                  7.725682e-01
Number_children          2.883135e+00
education_level          8.687194e+00
total_members            4.969209e+00
gained_asset             3.363448e+07
durable_asset            2.717296e+07
save_asset               2.742471e+07
living_expenses          3.248257e+07
other_expenses           3.366632e+07
incoming_salary          1.798460e-01
incoming_own_farm        2.519244e-01
incoming_business        1.077677e-01
incoming_no_business     2.603219e-01
incoming_agricultural    3.451039e+07
farm_expenses            3.549153e+07
labor_primary            2.134360e-01
lasting_investment       3.299222e+07
no_lasting_investmen     3.360385e+07
depressed                1.665500e-01
dtype: float64

In [12]:
df.describe()

,Survey_id,Ville_id,sex,Age,Married,Number_children,education_level,total_members,gained_asset,durable_asset,...,incoming_salary,incoming_own_farm,incoming_business,incoming_no_business,incoming_agricultural,farm_expenses,labor_primary,lasting_investment,no_lasting_investmen,depressed
count,1429.00000,1429.000000,1429.000000,1429.000000,1429.000000,1429.000000,1429.000000,1429.000000,1.429000e+03,1.429000e+03,...,1429.000000,1429.000000,1429.000000,1429.000000,1.429000e+03,1.429000e+03,1429.000000,1.429000e+03,1.409000e+03,1429.000000
mean,715.00000,76.286214,0.918125,34.777467,0.772568,2.883135,8.687194,4.969209,3.363448e+07,2.717296e+07,...,0.179846,0.251924,0.107768,0.260322,3.451039e+07,3.549153e+07,0.213436,3.299222e+07,3.360385e+07,0.166550
std,412.66108,66.444012,0.274271,13.986219,0.419320,1.874472,2.923532,1.786317,2.003854e+07,1.815672e+07,...,0.384194,0.434270,0.310195,0.438964,2.077846e+07,2.112372e+07,0.409876,2.121621e+07,2.160228e+07,0.372704
min,1.00000,1.000000,0.000000,17.000000,0.000000,0.000000,1.000000,1.000000,3.251120e+05,1.625560e+05,...,0.000000,0.000000,0.000000,0.000000,3.251120e+05,2.715050e+05,0.000000,7.429200e+04,1.263120e+05,0.000000
25%,358.00000,24.000000,1.000000,25.000000,1.000000,2.000000,8.000000,4.000000,2.326982e+07,1.929852e+07,...,0.000000,0.000000,0.000000,0.000000,2.322229e+07,2.279966e+07,0.000000,2.001911e+07,2.064203e+07,0.000000
50%,715.00000,57.000000,1.000000,30.000000,1.000000,3.000000,9.000000,5.000000,2.891220e+07,2.286194e+07,...,0.000000,0.000000,0.000000,0.000000,3.002882e+07,3.136343e+07,0.000000,2.841172e+07,2.829271e+07,0.000000
75%,1072.00000,105.000000,1.000000,42.000000,1.000000,4.000000,10.000000,6.000000,3.717283e+07,2.656950e+07,...,0.000000,1.000000,0.000000,1.000000,4.003842e+07,4.348584e+07,0.000000,3.982686e+07,4.151762e+07,0.000000
max,1429.00000,292.000000,1.000000,91.000000,1.000000,11.000000,19.000000,12.000000,9.912755e+07,9.961560e+07,...,1.000000,1.000000,1.000000,1.000000,9.978910e+07,9.965119e+07,1.000000,9.944667e+07,9.965119e+07,1.000000

### Count NAN in each column

In [44]:
df1 = pd.DataFrame(df,columns=['incoming_agricultural', 'lasting_investment', 'no_lasting_investmen'])


count_nan_Survey_id = df['Survey_id'].isna().sum()
count_nan_Ville_id = df['Ville_id'].isna().sum()
count_nan_sex = df['sex'].isna().sum()
count_nan_Age = df['Age'].isna().sum()
count_nan_Married = df['Married'].isna().sum()
count_nan_Number_children = df['Number_children'].isna().sum()
count_nan_education_level = df['education_level'].isna().sum()
count_nan_total_members	= df['total_members'].isna().sum()
count_nan_gained_asset = df['gained_asset'].isna().sum()
count_nan_durable_asset= df['durable_asset'].isna().sum()
count_nan_incoming_salary = df['incoming_salary'].isna().sum()
count_nan_incoming_own_farm= df['incoming_own_farm'].isna().sum()
count_nan_incoming_business = df['incoming_business'].isna().sum()
count_nan_incoming_no_business = df['incoming_no_business'].isna().sum()
count_nan_incoming_agricultural = df['incoming_agricultural'].isna().sum()
count_nan_farm_expenses = df['farm_expenses'].isna().sum()
count_nan_labor_primary = df['labor_primary'].isna().sum()
count_nan_lasting_investment = df['lasting_investment'].isna().sum()
count_nan_no_lasting_investmen = df['no_lasting_investmen'].isna().sum()
count_nan_depressed = df['depressed'].isna().sum()




print ('Count of NaN count_nan_Survey_id: ' + str(count_nan_Survey_id), 
'\nCount of NaN count_nan_Ville_id: ' + str(count_nan_Ville_id),
'\nCount of NaN count_nan_sex: ' + str(count_nan_sex), '\nCount of NaN count_nan_Age: ' + str(count_nan_Age), 
'\nCount of NaN: ' + str(count_nan_Married), '\nCount of NaN: ' +
 '\nCount of NaN count_nan_Number_children:' + str(count_nan_Number_children), 
 '\nCount of NaN count_nan_education_level: ' + str(count_nan_education_level), 
 '\nCount of NaN count_nan_total_members: ' + str(count_nan_total_members), 
'\nCount of NaN count_nan_gained_asset: ' + str(count_nan_gained_asset), 
'\nCount of NaN count_nan_incoming_salary: ' + str(count_nan_incoming_salary),
'\nCount of NaN count_nan_incoming_own_farm: ' + str(count_nan_incoming_own_farm),
'\nCount of NaN count_count_nan_incoming_business: ' + str(count_nan_incoming_business),
'\nCount of NaN count_nan_incoming_no_business: ' + str(count_nan_incoming_no_business),
'\nCount of NaN count_nan_incoming_agricultural: ' + str(count_nan_incoming_agricultural),
'\nCount of NaN count_nan_farm_expenses: ' + str(count_nan_farm_expenses),
'\nCount of NaN count_nan_labor_primary: ' + str(count_nan_labor_primary),
'\nCount of NaN count_nan_lasting_investment: ' + str(count_nan_lasting_investment),
'\nCount of NaN count_nan_no_lasting_investmen: ' + str(count_nan_no_lasting_investmen),
'\nCount of NaN count_nan_depressed: ' + str(count_nan_depressed),)

Count of NaN count_nan_Survey_id: 0
Count of NaN count_nan_Ville_id: 0
Count of NaN count_nan_sex: 0
Count of NaN count_nan_Age: 0
Count of NaN: 0
Count of NaN:
Count of NaN count_nan_Number_children:0
Count of NaN count_nan_education_level: 0
Count of NaN count_nan_total_members: 0
Count of NaN count_nan_gained_asset: 0
Count of NaN count_nan_incoming_salary: 0
Count of NaN count_nan_incoming_own_farm: 0
Count of NaN count_count_nan_incoming_business: 0
Count of NaN count_nan_incoming_no_business: 0
Count of NaN count_nan_incoming_agricultural: 0
Count of NaN count_nan_farm_expenses: 0
Count of NaN count_nan_labor_primary: 0
Count of NaN count_nan_lasting_investment: 0
Count of NaN count_nan_no_lasting_investmen: 20
Count of NaN count_nan_depressed: 0